{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<h1 class="my-5">Bienvenue sur le blog des débutants en symfony ✅</h1>

	<h2>Tu apprendras plein de choses ici, c'est promis! 🚀:</h2>
	<section class="my-5">
		{% for post in posts %}
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<div class="col">
					<div class="card">
						<img src="https://via.placeholder.com/200x100" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ post.title }}</h5>
							<p class="card-text">{{ post.summary|slice(0, 100) ~ '...' }}</p>
							<p>
								<span class="badge bg-secondary">
									<strong>Auteur</strong>
									:
									{{ post.author }}</span>
							</p>
							<a href="{{ path('show', {slug: post.slug, id: post.id}) }}" class="btn btn-primary">Lire la suite</a>
							<time>Crée le
								{{ post.createdAt|date('d/m/Y') }}</time>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>

{% endblock %}
