{% extends 'base.html.twig' %}

{% block title %}
	{{article.title}}
{% endblock %}

{% block body %}

	<section class="text-center my-3">
		<h1 class="my-3">
			{{ article.title }}
		</h1>
		<div class="gap-5">
			<a href="{{ path('edit', {'id': article.id}) }}" class="btn btn-primary text-decoration-none text-white">Modifier</a>
			<a href="{{ path('create') }}" class="btn btn-success text-decoration-none text-white">Crée un article</a>
		</div>
		<p class="my-3" >
			{{ article.content | nl2br }}
		</p>
	</section>
{% endblock %}
